<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TempoBot.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2A531B8683B859DBB14F650B08FEC0BE90099D18</string>
				<key>dateExpires</key>
				<string>04/03/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RUP46893UX.Gainder.TempoBot</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RUP46893UX</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>TempoBot.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>46c723cc-e4f6-4dba-8eec-10d2c3236fae</string>
				<key>dateExpires</key>
				<string>06/06/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: Gainder.TempoBot</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RUP46893UX</string>
				<key>name</key>
				<string>ROBIN LUCAS VIRGILE QUERIAUX</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
